[Unit]
Description=Voicescarry API service

[Service]
WorkingDirectory=/home/voicescarry/voicescarry/backend
ExecStart= npm run start
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target